body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #000;
    border-bottom: 2px solid #126EDC;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 90;
}

header .logo{
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
}

header .fa-solid{
    display: none;
    color: #fff;
    font-size: 1.6rem;
}

nav a{
    color: white;
    font-size: 1rem;
    position: relative;
    margin: 0 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
}


nav a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
    #126EDC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.mission{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
    position: relative;
}

.mission::before{
    content: "";
    background-image: url("images/victor-freitas-WvDYdXDzkhs-unsplash.jpg");
    background-size: cover;
    opacity: 0.4;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
}

.mission h1, p{
    isolation: isolate;
    margin: 0;
    background-color: black;
    position: relative;
    top: 250px;
    color: white;
}


.mission h1{
    font-size: 2.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.mission p{
    font-size: 1rem;
    line-height: 1.4;
    padding-bottom: 1rem;
    font-weight: 200;
}

.portfolio{
    text-align: center;
    background-color: #041321;
    color: white;
    height: auto;
    padding: 50px 0;
   
}

.portfolio h2{
    font-weight: 400;
    margin-bottom: 50px;
}

.img h3{
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 400;
}

.img__container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    

}

.portfolio img{
    height: 200px;
    border-radius: 5px;
    
}

.img{
    display: flex;
    flex-basis: 300px;
    
    border-radius: 4px;
    flex-direction: column;
   
    

    
}



.img:hover{
    margin-top: 5px;
    margin-left: 5px;
    transition: .10s;
}

.sign-up{
    text-align: center;
    background-color: #5FA3F5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 900px;
   
}

.sign-up h1{
   font-size: 3rem;
   letter-spacing: 4px;
   margin-top: 20px;
}

.form-title{
    color: #3D3D3D;
    margin-bottom: 1.25rem;
}

.form{
    text-align:left;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    width: 50rem;
    border: 2px solid black;
    
}

.form-inputs{
   color: #3D3D3D;
   margin-bottom: 3rem;
   height: 2.25rem;
  
}

.form_input{
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1.25px solid #3D3D3D;
    border-radius: 4px;
}

.form_input:hover{
    border: 2px solid #126EDC;
    
}

.form-button{
    float: right;
    border: none;
    font-family: inherit;
    cursor: pointer;
    background-color: #1AAFD9;
    font-weight: 500;
    font-size: 1.15rem;
    border-radius: 0.5rem;
    padding: 8px 3rem;
}

.form-button:hover{
    background-color: #1FCEFF;
    transition: 0.20s;
}


/* Responsive Section */
/* ============
    Navbar
============ */
@media (max-width: 800px) {
    header nav, button{
        display: none;
    }

    header .fa-bars{
        display: block;
    }
}